// Fonts
$font-stack: 'Alegreya Sans SC', sans-serif;
$heading-stack: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;

// Color
$offblack: #333333;
$gray: #CCCCCC;
$white: #FFFFFF;

//Widths
$width: 1170px;
