// Fonts
$font-stack: 'Open Sans', sans-serif;
// $heading-stack: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
$heading-stack: 'Open Sans', sans-serif;

// Color
$offblack: #333333;
$gray: #CCCCCC;
$white: #FFFFFF;
$lightgray: #F7F5F6;
$menugray: #DDDDDD;

//Widths
$width: 1170px;
@include mediaMax (1170px){$width: 970px;




}
