/**
 * Our Grid system using Flexbox.
 * Based on: https://philipwalton.github.io/solved-by-flexbox/demos/grids/
 * Codebase: https://github.com/philipwalton/solved-by-flexbox/blob/master/assets/css/components/grid.css
 */

.grid {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.grid-item {
  flex: 1;
}

.grid--flexcells > .grid-item {
  display: flex;
}

.grid--top {
  align-items: flex-start;
}

.grid--bottom {
  align-items: flex-end;
}

.grid--center {
  align-items: center;
}

.grid--justify-center {
  justify-content: center;
}

.grid-item--top {
  align-self: flex-start;
}

.grid-item--bottom {
  align-self: flex-end;
}

.grid-item--center {
  align-self: center;
}

.grid-item--auto-size {
  flex: none;
}

.grid--fit > .grid-item {
  flex: 1;
}

.grid--full > .grid-item {
  flex: 0 0 100%;
}

.grid--1of2 > .grid-item {
  flex: 0 0 50%;
}

.grid--1of3 > .grid-item {
  flex: 0 0 33.3333%;
}

.grid--1of4 > .grid-item {
  flex: 0 0 25%;
}
