.header{
	border-bottom: 1px solid;
	.wrapper{
		flex-flow: row nowrap;

		.logotype{
			display: block;
			margin: 0px 15px;
		}
		.header-content{
			display: flex;
			flex-flow: column nowrap;
			justify-content: center;
			align-items: flex-end;
			flex-grow: 1;
			margin-right: 15px;
		}
	}
}

.header-line1{
	height: 72px;
	width: 100%;
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-end;

	.search-form{
		position: relative;
		display: block;
		width: 100%;
		padding-top: 32px;
		margin-right: 15px;
		margin-left: 10px;

		.search-field{
			height: 36px;
			color: #808080;
			width: 100%;
			background-color: #F7F7F7;
			text-align: left;
			border: 0;
			border-color: #ebedee;
			border-radius: 4px;
			box-shadow: inset 0 1px 3px 0 rgba(0,0,0,0.04);
			font-size: 14px;
			padding-left: 15px;
			padding-right: 85px;
		}
		button{
			background-color: #f2f2f2;
			width: 70px;
			height: 36px;
			position: absolute;
			top: 32px;
			right: 0px;
			border-radius: 0 4px 4px 0;
			cursor: pointer;

			&:before{
				font-family: heml;
				color: #333333;
				content: "s";
				font-size:23px;
				vertical-align: bottom;
			}
		}
	}
	.cart-button{
		margin-top: 32px;
		padding-top: 2px;
		width: 70px;
		background-color: #f2f2f2;
		height: 36px;
		border-radius: 4px;
		text-align: center;

		.cart-contents{
			display: block;
			&:before{
				font-family:heml;
				color: #333333;
				content: "c";
				font-size:30px;
				vertical-align: bottom;

			}
			&:hover {
				text-decoration: none;
			}
			.cart-contents-count {
				margin-left: -20px;
				color: #fff;
				background-color: pink;
				font-weight: bold;
				border-radius: 20px;
				padding: 5px 10px;
				line-height: 1;
				font-family: Arial, Helvetica, sans-serif;
				vertical-align: top;
			}
		}
	}
}
.header-line2{
	width: 100%;
	height: 30px;
}

.menu-main-list{
	float: left;
	margin: 0;
	height: 50px;
	padding-left: 0px;


	& > li{
		display: block;
		float: left;

		&:hover > .sub-menu-wrapper{
			display: block;
		}
		& > .sub-menu-wrapper{
			width: $width;
			display: none;
			position: absolute;
			left: 0;
  			right: 0;
  			margin: 0 auto;
			padding: 0px 15px 0px 280px;
			background-color: #f2f2f2;

			& > .sub-menu {
				display: flex;
				flex-flow: row wrap;

				& > li {
					padding-left: 25px;
					flex: 0 0 20%;

					& > a {
						font-weight: 700;
						padding: 5px 0px;
					}

					& > .sub-menu-wrapper > .sub-menu > li > a{
						font-weight: 400;
						padding: 0px;
					}
				}
			}
		}


	}
	a{
		padding: 5px 25px 5px 25px;
		display: block;
		text-decoration: none;

		&:hover{

		}
	}


	li.current-menu-item a,
	li.current_page_ancestor a {

	}
	.sub-menu{
		padding: 0px;
	}
}
