.header{


	.header-main{
		font-family: $font-stack;
		font-size: 13px;
		margin-bottom: 20px;
		padding: 0px 15px;

		.mobile-menu{
			button{
				font-family: heml;
				font-size:26px;
				padding: 0;
			}
			padding-top: 54px;
			margin-left: 41px;




			#show-search-button{
				font-size:24px;
				margin-left: 10px;
				@include mediaMin (801px){
					display: none;
				}
			}
			@include mediaMin (1025px){
				display: none;
			}
			@include mediaMax (650px){
				margin-left: 0px;
				padding-top: 43px;
			}
		}
		.search-form{
			position: relative;
			padding-top: 40px;
			margin: 10px;

			@include mediaMax (800px){
				display: none;
				order: 2;
				margin: 20px 5px 0px 34px;
				padding-top: 0px;

				button{
					top: 0px !important;
				}
			}
			@include mediaMax (650px){
				margin: 20px 5px 0px 0px;
				button{
					padding-left: 1px;
				}

			}

			.search-field{
				height: 36px;
				color: #000;
				width: 250px;
				text-align: left;
				border: 0;
				font-family: $font-stack;
				font-style: italic;
				font-weight: 700;
				padding-right: 5px;
				padding-left: 35px;
				@include mediaMax (800px){
					padding-left: 50px;
				}
			}
			button{
				height: 36px;
				position: absolute;
				top: 40px;
				left: 0px;
				cursor: pointer;

				&:before{
					font-family: heml;
					color: #000;
					content: "s";
					font-size:24px;
					vertical-align: bottom;
				}
			}
		}
		.logotype{
			// z-index: 10;
			width: 190px;
			margin: 20px auto;
			position: absolute;
			left: 0;
			right: 0;
			@include mediaMax (650px){
				width: 150px;
			}
			@include mediaMax (330px){
				left: 30px;
			}

		}

		.cart-button{
			padding-top: 42px;
			margin: 10px;
			position: relative;
			text-align: right;
			font-style: italic;

			@include mediaMax (800px){
				flex: 0 0 50%;
				flex-grow: 2;
			}
			@include mediaMax (650px){
				padding-top: 33px;
				margin-right: 12.5px;
			}
			@include mediaMax (330px){
				margin-right: 5px;
			}

			.cart-contents{
				color: #000;
				&:before{
					font-family:heml;
					color: #000;
					content: "c";
					font-size:24px;
					vertical-align: bottom;
					font-style: normal;
					padding-right: 5px;
				}
				@include mediaMax (800px){
					margin-right: 10px;
					flex-grow: 2;
					flex: 0 0 60%;
				}
				@include mediaMax (650px){
					display: none;
				}
			}
			.cart-contents-mobile{
				font-family: heml;
				font-size: 24px;
				color: #000;
				font-style: normal;
				vertical-align: bottom;
				// margin-left: 41px;

				@include mediaMin (651px){
					display: none;
				}
			}
			.checkout-link{
				margin: 10px;
				font-size: 13px;
				color: #000;
				font-family: $heading-stack;
				font-weight: 700;
				text-transform: uppercase;
				@include mediaMax (800px){
					display: none;
				}
			}
		}
	}
}

//Nav
.menu-wrapper{
	@include mediaMax (1024px){
		display: none;
	}
}
.menu-main-list{
	margin: 0;
	height: 45px;
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	padding: 0;



	& > li{
		&:hover:after{
			content: "";
			position: relative;
			top: -30px;
			left: calc(50% - 8px);
			border-left: 8px solid transparent;
			border-right: 8px solid transparent;
			border-bottom: 8px solid $menugray;
		}

		a{
			padding: 5px 20px;
			display: block;
			height: 100%;
			text-decoration: none;
			text-transform: uppercase;
			font-family: $heading-stack;
			font-size: 14px;
			line-height: 1;
			font-weight: 500;
		}
		&:hover > .sub-menu-overlay{
			display: block;
		}
		& > .sub-menu-overlay{
			height: auto;
			z-index: 999;
			display: none;
			position: absolute;
			left: 0;
  			right: 0;
			background-color: $menugray;

			& > .sub-menu-wrapper{
				max-width: 800px;
				margin: 60px auto;
				display: flex;
				flex-flow: row nowrap;
				justify-content: flex-start;
				padding: 0px;

				& > .menu-description{
					width: 260px;
					margin-right: 80px;
					& > h3{
						margin: 0 0 10px;

					}
					& > p{
						margin: 0;
						font-style: italic;
						font-size: 14px;
					}
				}
				& > .sub-menu {
					width: 320px;
					display: flex;
					flex-flow: row wrap;
					align-content: flex-start;
					& > li {
						padding-left: 25px;
						width: 160px;

						& > a {
							font-size: 13px;
							padding: 5px 0px;
						}

						& > .sub-menu > li > a{

							padding: 0px;
						}
					}
				}
			}




		}


	}



	li.current-menu-item a,
	li.current_page_ancestor a {

	}
	.sub-menu{
		padding: 0px;
	}
}
.mobile-menu-wrapper{
	// display: none;
	background-color: $menugray;
	padding: 0;

	&:before{
		content: "";
		position: relative;
		top: -30px;
		// left: calc(50% - 8px);
		left: 20px;
		border-left: 8px solid transparent;
		border-right: 8px solid transparent;
		border-bottom: 8px solid $menugray;
		display: inline;

		@include mediaMin (651px){
			left: 60px;
		}
	}

	@include mediaMin (1024px){
		display: none !important;
	}

	.menu-main-list-m{
		padding: 0 15px 25px;
		margin-top: 0;

		& > li{


			a{
				padding: 12px 0;
				display: block;
				height: 100%;
				text-decoration: none;
				text-transform: uppercase;
				font-family: $heading-stack;
				font-size: 14px;
				line-height: 1;
				font-weight: 500;
			}
			& > .sub-menu-overlay{
				display: none;

			}
		}
	}
}
