/**
 * Flexslider
 */
// TEMPORÄRT
.post-241{
	width: $width;
	margin: auto;
}
div.flexslider {
   border: none !important;
	background-color: $lightgray;
	margin-bottom: 80px;
	height: 540px;
	// margin-top: 50px;
	.slides{
		max-width: 1370px;
		margin: 0 auto;

		.slider-img {
			position: relative;
			top: 70px;
			overflow: hidden;
			height: 510px;
			background-size: cover;
			background-position: center;
			width: 57%;

			img {
			     width: 100%;
			     height: auto;
			 }
		}
		.slider-content {
			box-sizing: border-box;
			position: absolute;
			top: 70px;
			bottom: 0;
			right: 40px;
			height:470px;
			width: 37%;
			margin-left: 40px;

			.slider-content-inner {
				position: absolute;
				top: 50%;
				-webkit-transform: translateY(-50%);
				transform: translateY(-50%);
				color: #000;
				left: 0;
				right: 0;
				text-align: center;

			  	h2{
					margin: 5px;
					font-size: 24px;
			  	}
				p{
					margin: 0;
					font-style: italic;
					font-weight: bold;
				}
				.button {
					margin-top: 40px;
					border: 2px solid black;
					padding: 12px 20px 10px;
					display: inline-block;
					font-size: 14px;
					font-family: $heading-stack;
					text-transform: uppercase;
					font-weight: 500;
					&:hover{
						border: 2px solid $hovergray;
						color: $hovergray;
						transition: 0.2s;
					}
				}
			}

		}


	}
	.flex-control-nav {
	    bottom: 10px !important;
	    // left: 50%;
	    z-index: 2;
	}
	@include mediaMax (1500px){
		height: 460px;

		.slides{
			max-width: 1170px;
			.slider-img {
				height: 430px;
			}
			.slider-content {
				height:390px;
			}
		}

	}
	@include mediaMax (1224px){
		height: 420px;
		.slides{
			margin: 0 60px;

			.slider-img {
				height: 390px;
			}
			.slider-content {
				height:350px;
			}
		}

	}
	@include mediaMax (999px){
		height: 380px;
		.slides{
			.slider-img {
				height: 350px;
			}
			.slider-content {
				height: 310px;
			}
		}
	}

	@include mediaMax (899px){
		height: 340px;
		.slides{
			.slider-img {
				height: 310px;
			}
			.slider-content {
				height: 270px;
			}
		}
	}
	@include mediaMax (799px){
		height: 320px;
		.slides{
			.slider-img {
				height: 290px;
			}
			.slider-content {
				height: 250px;
			}
		}
	}
	@include mediaMax (699px){
		height: auto;
		margin: 0;
		.slides{
			margin: 0 20px;
			li{

				.slider-img {
					margin: auto;
					margin-top: 20px;
					position: static;
					height: 250px;
					width: 100%;
					max-width: 500px;
					position: static;
				}
				.slider-content {
					position: static;
					height: auto;
					width: 100%;
					margin: 10px 0px 20px;

					.slider-content-inner{
						position: static;
						transform: none;
						h2{
							margin: 0;
						}
						a.button{
							margin-top: 10px;
						}
					}
				}
			}
		}
		.flex-direction-nav{
			display: none;
		}
	}
}


.flex-control-paging li a {
    background: rgba(255, 255, 255, 0.3) !important;
}
.flex-control-paging li a.flex-active {
    background: rgba(255, 255, 255, 0.8) !important;
}
